{% extends "admin/change_list.html" %}
{% load i18n unfold %}

{% block object-tools-items %}
    {% url "admin:expense-export-all" as export_url %}
    {% url "admin:finance_expense_import_all" as import_url %}

    {% component "unfold/components/button.html" with href=export_url variant="default" %}
        <span class="material-symbols-outlined md-18">download</span>
        <span class="mmg-btn-label">{% translate "Export Excel" %}</span>
    {% endcomponent %}

    {% component "unfold/components/button.html" with href=import_url %}
        <span class="material-symbols-outlined md-18">upload_file</span>
        <span class="mmg-btn-label">{% translate "Import Excel" %}</span>
    {% endcomponent %}

    {{ block.super }}
{% endblock %}
