{% extends "admin/change_list.html" %}
{% load i18n unfold %}

{% block date_hierarchy %}
    {{ block.super }}
    {% include "admin/finance/ledger_overview.html" %}
{% endblock %}

{% block object-tools-items %}
    {{ block.super }}

    {% if has_add_permission and spreadsheet_url %}
        {% component "unfold/components/button.html" with href=spreadsheet_url variant="default" %}
            <span class="material-symbols-outlined md-18">table_view</span>
            {{ spreadsheet_button_label }}
        {% endcomponent %}
    {% endif %}
{% endblock %}
